# Hello World

In [39]:
print("Hello World")

Hello World

# Variables

In [40]:
print(5)
print(35.5)

5
35.5

In [41]:
print("5")

5

In [42]:
city = "Tirupati"
print(city)

Tirupati

In [43]:
city = "New York"
print(city)

New York

In [44]:
my_favourite_number=5
print(my_favourite_number)
pi = 3.14
print(pi)
destination = pi
print(destination)

5
3.14
3.14

In [45]:
print("city:","Kathmandu")

city: Kathmandu

In [46]:
city = input()
print(city)

tpt
tpt

In [47]:
city = input("Enter City:")
print(city)

Enter City:tpt
tpt


# Data Types

# Numeric

In [48]:
num1 = 5
print(type(num1))

<class 'int'>

In [49]:
num2 = 5.4
print(type(num2))

<class 'float'>

In [50]:
num1 = input("Enter Number: ")
number = int(num1)
print(type(number))

Enter Number: 6
<class 'int'>

In [51]:
num1 = int(input("Enter Number: "))
print(type(num1))

Enter Number: 6
<class 'int'>

In [52]:
num1 = float(input("Enter Number: "))
print(type(num1))

Enter Number: 6
<class 'float'>

In [53]:
a = 5+6j
print(a," is type of",type(a))

(5+6j)  is type of <class 'complex'>

# Lists

In [54]:
list1 = [1,2,3,4]
print(list1[2])

3

In [55]:
list2 = ['a',1,"suji"]
#list[2] = "suji"
print(list2[2])

suji

In [56]:
list3 = [156,89,434,67,23,88,45,78,99,200]
#from index 2 in the list3,it takes value from index 2 to the last index.
print(list3[2:])
print(list3[::-2])#reverse of list
print(list3[::-1])
print(list3[1:6:2])#[start:stop:step]

[434, 67, 23, 88, 45, 78, 99, 200]
[200, 78, 88, 67, 89]
[200, 99, 78, 45, 88, 23, 67, 434, 89, 156]
[89, 67, 88]

In [57]:
list3[2] = 567
#lists are mutable in python.so we can change the values.
print(list3)

[156, 89, 567, 67, 23, 88, 45, 78, 99, 200]

# Tuples

In [58]:
tuple1 = (1,2,'a',"suji")
print(tuple1)#printing tuple1

(1, 2, 'a', 'suji')

In [59]:
print(tuple1[2:])#printing the elements from index 2 to the last index.

('a', 'suji')

In [60]:
print(tuple1[::-1])#reverse of tuple1

('suji', 'a', 2, 1)

In [61]:
print(tuple1[1:4:1])

(2, 'a', 'suji')

In [62]:
print(tuple1[0:3])

(1, 2, 'a')

In [63]:
tuple1[0] = 2
print(tuple1)#gives error because the tuples are immutable in python

TypeError: 'tuple' object does not support item assignment

# Strings

In [ ]:
s = "Hello World"
print(s)

In [ ]:
print(s[-1]) #slicing

In [ ]:
print(s[::-1]) # reverse of string

In [ ]:
print(s[1:7])

In [ ]:
s1 = """Hey Welcome to the Party"""
print(s1)
s2 = "Coconut"
print(s2)

In [ ]:
s1 = '''Hey Welcome to the Party'''
print(s1)

In [ ]:
s1[2] = 'f' # gives error because string is immutable


# Sets

In [ ]:
set1 = {1,2,3,5,6,'a',2.4}
print(set1)

In [ ]:
print(type(set1))

In [ ]:
set2 = {1,1,1,3,5,6,7,7,4}
print(set2) #eliminates the duplicates in the set

In [ ]:
print(set2[1]) #slicing doesnot work because set is unordered collection

# Dictionary

In [ ]:
dict1 = {'a' : 1,'b' : 2}
print(dict1)
print(type(dict1))

In [ ]:
print(dict1['b']) #using key retrieving the value

In [ ]:
print(dict1[2]) # slicing doesnt work

# Conversion btw Data Types

In [ ]:
a = 5.43
print(int(a))

In [ ]:
a = 5
print(float(a))

In [ ]:
a = 534.67
print(str(a))

In [ ]:
float('25')

In [ ]:
str('1p')

In [ ]:
int('1p')

In [ ]:
set([1,2,34,56])

In [ ]:
tuple([1,2,4,56,6])

In [ ]:
list((1,5,'a',45))

In [ ]:
dict([[1,2],[3,4]])

In [ ]:
dict(((1,2),(2,4)))

# Type Conversions

In [ ]:
num1 = 5
num2 = 9.8
num3 = num1 + num2
print(type(num1))
print(type(num2))
print(type(num3))
print(num3) #implicit type conversion - avoids loss of data ,automatically python interpreter does this

In [ ]:
num1 = 5
num2 = "9.8"
num3 = num1 + num2
print(type(num1))
print(type(num2))
print(type(num3))

In [ ]:
num1 = 5
num2 = "98"
print(type(num1))
print(type(num2))
num2 = int(num2)
print(type(num2))
num3 = num1 + num2
print(type(num3))
print(num3) #explicit Conversion here string is converted into int by user (Type casting)

# Print()

In [ ]:
print(1,2,3,4)

In [ ]:
print(1,2,3,4,sep = '*',end = '\n')

In [ ]:
print(1,2,3,4,sep = '*',end = '&')

In [ ]:
print(1,2,3,4,sep = '*',end = '&',flush = False) #flush clears the internal buffer

# Output Formatting

In [ ]:
x = 4
y = 5
print("x value is {} and y value is {}".format(x,y)) # good Presenting

In [ ]:
x = 4
y = 5
print("x value is {0} and y value is {1}".format(x,y))
print("x value is {1} and y value is {0}".format(x,y)) # {} are placeholders used to specify the order in which manner it has to be printed.

In [ ]:
print("Hello {name},{greeting}".format(name = "suji", greeting = "Good Morning")) # we can use keyword arguments to print string

In [ ]:
x = 1234.67899644
print("The value of x is %3.2f" %x) #sprintf it stores in buffer

In [ ]:
eval('2+3') # eval() is used to evaluate even the expressions.

In [ ]:
eval('2*3')

In [ ]:
import math
print(pi)

In [ ]:
from math import pi
pi

In [ ]:
import sys
sys.path #list of directory locations

# Operators

In [ ]:
res = True
res1 = False
print(int(res),res)

In [ ]:
number = 10
print(number < 11) #comparison operations condition satisfy true otherwise false

In [ ]:
number = 15
print(number>11)

In [ ]:
print(number != 10)

In [ ]:
number = 12.0
print(number == 12)

In [ ]:
number = 18
print(number<=19)

In [ ]:
number = 18
print(number>=18)

In [ ]:
age = 12
gpa = 9.8
res = age > 10 and gpa > 9
print(res) #logical and

In [ ]:
age = 12
gpa = 9.8
res = age > 10 or gpa > 9
print(res) #logical or

In [ ]:
res = True
print(not res)

In [ ]:
language = "Python"
print("1.",language == "Python")
age = 18
print("2.",age>=18)
print("3.",age>18)
print("4.",age>=18 and language == "java")

In [ ]:
x = 5
y = 7
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y) #Arithmetic operations

In [ ]:
x = 15
y = 12
print(x & y)
print(x|y)
print(x^y)
print(x<<2)
print(x>>2) #bitwise operators

In [ ]:
x = "suzz"
y = "suzz"
x1 = 5
y1 = 5
print(x1 is y1)
print(x1 is not y1)
print(x is y)
print(x is not y) #identity operator

In [ ]:
x2 = {'a':1,'b':2}
y2 = "Hello World"
print('H' in y2)
print('E' in y2)
print('a' in x2)
print('1' not in x2) #membership operator

# Namespaces and Scope

In [ ]:
a = 5
print(id(a))
a = 6
print(id(6))
print(id(5))#id gives address of the object

In [ ]:
def printHello():
    print("Hello")
a = printHello
a() #here functions are also objects,so names can also use to refer them.
#Namespace is the collection of names
# scope is the part of the program where name can be accesssed

In [70]:
def outer_function():
    a = 20 #local namespace

    def inner_function():
        a = 30
        print('a =', a) #nested namespace

    inner_function()
    print('a =', a)


a = 10 #global namespace
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [71]:
def outer_function():
    global a
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a) # all references are assigned to global keyword.

a = 30
a = 30
a = 30